<%= form_tag "/timecard_periods" do %>
	<p class="information">**Note: This will create Time Card Periods for the specified number of weeks (with default names "Week 1", "Week 2", etc).</p>
  <p>
    First Actual Starts On: <br />
    <%= date_select('range', 'start_date', :order => [:month, :day, :year])%>
  </p>
  <p>
    Number of weeks:
    <%= text_field_tag(:num_weeks) %>
  </p>

  <p><%= submit_tag "Create New Periods", :class => "orange_button" %></p>
<% end %>