<ul id="devise_links">
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	  <li><%= link_to "Forgot your password?", new_password_path(resource_name), :class => "matte_button" %></li>
	<% end -%>
</ul>