<% title "Editing Time Card" %>
<div id="form">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="faded">&larr;<%= link_to "Back", user_path(current_user, :view_option => "time_cards") %></li>
                        <li class="active">Editing Timecard: <%= @timecard.timecard_period.name %></li>
		</ul>
	</div>

	<%= render 'form' %>
</div>
