<p>
	<%= @group.description %>
</p>
<div class="group_members list_box">
	<% if !@group.users.blank? %>
		<div class="list_header">
			Group Members:
		</div>
		<ul>
			<% for user in @group.users %>
				<li>
					<div class="name floatLeft">
						<%= user.name %>
					</div>
					
					<% if !user.roles.blank? %>
						<div class="roles floatLeft">
							  <% for role in user.roles %>
							  		<span class="role"><%= role.name %></span>
							  <% end %>
						</div>
					<% end %>
					
					<div class="floatRight">
					<% if current_user.admin %>
						<%= link_to "Timecard", user_path(user, :view_option => "time_cards") %>
					<% end %>
					</div>
					<div class="clear"></div>
				</li>
			<% end %>
		</ul>
	<% else %>
	  	This group has no users yet.
	<% end %>	
</div>