<div id="blue_header">
	<div id="avatar" class="floatLeft"></div>
	<h1 class="floatLeft"><%= @group.name %></h1>
	<div class="floatRight"><%= @member_count %> Members</div>
	<div class="clear"></div>
</div>