<h3>Group Presentation Availabilities</h3>
<p>
	<% if @group.discussion_section_1 != 0 %>
		Discussion Section 1
	<% end %>
	<% if @group.discussion_section_2 != 0 %>
		Discussion Section 2
	<% end %>
	<% if @group.discussion_section_3 != 0 %>
		Discussion Section 3
	<% end %>
</p>

<h3>Group Schedule</h3>
<% if @group.schedule %>
	<p>
		These are the times throughout the week where all group members are free to meet up.
	</p>
	<% if !@group.schedule.days.blank? %>
		<% for day in @group.schedule.days %>
	    	<% if !day.time_blocks.blank? %>
				<p>
					<strong><%= day.name %></strong>
					<ul>
						<% for time_block in day.time_blocks %>
							<li><%= time_block.chunk_of_time %></li>
						<% end %>
					</ul>
				</p>
			<% end %>
		<% end %>
	<% else %>
		There are no times throughout the week where all group members are available to meet up.
	<% end %>
	
<% else %>
	<%= @group.name %> does not have a schedule yet.
<% end %>