<h2>General Information</h2>
<% if @user.id == current_user.id %>
	<%= render 'membership_form' %>
<% else %>
	<% if @membership.role %>
		<p>Group role: <%= @membership.role %></p>
	<% end %>
<% end %>
<div>
	<%= render :partial => "schedule" %>
</div>