<div id="blue_header">
	<div id="avatar" class="floatLeft"></div>
	<h1 class="floatLeft"><%= @user.name %></h1>
	<% if @group %>
		<div class="floatRight"><%= @group.name %></div>
	<% end %>
	<div class="clear"></div>
</div>