<ul>
	<li><%= link_to "General Information", @user %></li>
	<li><%= link_to "Time Cards", user_path(@user, :view_option => "time_cards") %></li>
	<% if @user.id == current_user.id or current_user.admin %>
		<li><%= link_to "Peer Reviews", user_path(@user, :view_option => "peer_reviews") %></li>
	<% end %>
</ul>

