<h3>Schedule</h3>

<% if @user.schedule %>
	<% if !@user.schedule.days.empty? %>
		<table>
			<tr>
				<th>Day</th>
				<th>Time of Day</th>
				<% if current_user.id == @user.id %>
					<th>Actions</th>
				<% end %>
			</tr>
			<% for day in @user.schedule.days %>
				<% if !day.time_blocks.empty? %>
					<% for time_block in day.time_blocks %>
						<tr>
							<td><%= day.name %></td>
							<td><%= time_block.chunk_of_time %></td>
							<% if current_user.id == @user.id %>
								<td><%= link_to "Edit", edit_time_block_path(time_block) %> or <%= link_to "Destroy", time_block, :confirm => 'Are you sure?', :method => :delete %></td>
							<% end %>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</table>
	<% end %>
<% end %>