<%= render 'users/header' %>
<div id="users_show">
	<% case @view_option %>
	<% when "peer_reviews" %>	
		<div id="peer_reviews">
			<%= render :partial => "peer_reviews" %>
		</div>
	<% when "time_cards" %>
		<div id="time_cards">
			<%= render :partial => "time_cards" %>
		</div>
	<% else %>
		<div id="general_information">
			<%= render :partial => "general_information" %>
		</div>
	<% end %>
</div>

