<% title "New Charge Number" %>

<div id="form">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="faded">&larr;<%= link_to "Back to List", group_path(current_user.groups.first, :view_option => "charge_numbers") %></li>
			<li class="active">New Charge Number</li>
		</ul>
	</div>

	<%= render 'form' %>
</div>
