<% title "New Peer Review for #{@review_period.name}" %>

<p class="duration"><strong>Start and End Dates:</strong> <%= @review_period.starts_on.strftime("%a, %B %d, %Y") %> - <%= @review_period.ends_on.strftime("%a, %B %d, %Y") %></p>


<div class="form_info_text">
	<p>Your responses to the following questions will be kept strictly confidential.</p>

	<p>Thinking back over the past three weeks, please make your best effort to give a fair and accurate evaluation of your team and its members.  You may lose points if your evaluation is not credible in the judgment of the executives.</p>

	<p>For example, by the definition of "outstanding," it is logically impossible for every team member to make an "outstanding contribution." It is very unlikely all team members would participate equally, so we expect a range of at least a few levels.  Think of 8 as what you expect on average; generally we don't expect more than half to be above 8.</p>

	<ul>
		<h3>Think of the numbers as</h3>
		<li>0       completely uninvolved</li>
		<li>2       minimally involved</li>
		<li>4       insufficient participation</li>
		<li>6       acceptable participation</li>
		<li>8       satisfactory contribution</li>
		<li>10      outstanding contribution</li>
	</ul>
</div>

<div id="form">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="active">Peer Reviews</li> 
		</ul>
	</div>
		
	<% for peer_review in @peer_reviews %>
		<%= render :partial => 'form', :locals => { :peer_review => peer_review } %>
	<% end %>
</div>