//Cache the current form that was just updated.
var current_form = $("#edit_peer_review_<%= @peer_review.id %>");
var form_box = $(current_form).closest(".toggle_box");
var status_val = $(form_box).find(".status");
var check = $(form_box).find(".check");

<% if @peer_review.errors.any? -%> 
	//Add new validation to the form.
	var error = current_form.parent().find("#flash_error");
	if (error) {
		error.fadeOut();
	}
	
	current_form.before('<div id="flash_error"><%= escape_javascript(flash.delete(:error)) %></div>');
	status_val.html("Error");
	status_val.addClass("error_red");
	status_val.fadeIn();
	check.html("");
<% else %>
	
	var error = current_form.parent().find("#flash_error");
	if (error) {
		error.fadeOut();
	}

	//Create the togglable header for the form.
	check.html("Completed");

	//Hide the form
	form_box.find(".toggle_content").slideUp();
	
	//Fill Out the Status Field
	//Hide Initial Elements
	status_val.hide();
	status_val.removeClass("error_red");
	status_val.html("Updated");
	status_val.fadeIn();

<% end %>
