<ul id="secondary_nav">
	<li><%= link_to "View Roster", roster_path, :class => "matte_button" %></li>
	<li><%= link_to "Create New Grouping", configure_grouping_algorithm_path, :class => "red_matte_button", :confirm => "Are you sure you want to create a new grouping? This will delete the previous version of the groups." %></li>
</ul>