<div id="dashboard">
	<p style="margin-bottom: 20px;">
		The following buttons enable or disable access to most of Groupme for all non-admin users.</br>
		With site access disabled, all non-admin users will be confined to the finished signup page,</br>
		and will have the ability to continue to edit their registration information.
	</p>
	<p>
		<%= link_to "Disable Access", disable_all_user_accounts_path, :class => "matte_button", :onclick => "return confirm('Are you sure you want to DISABLE access to Groupme for all users?')" %> <em>or</em> <%= link_to "Enable Access", enable_all_user_accounts_path, :class => "red_matte_button", :onclick => "return confirm('Are you sure you want to ENABLE access to Groupme for all users?')" %>
	</p>
</div>