<div id="home">
	Thanks for signing up. You have been emailed to verify your account. Triton link is currently slow so it can take a while to receive your email. In a test this morning, it took about 30 minutes. Please check the email you signed up with and click the confirmation link to continue.
</div>