<% title "Edit Role" %>

<p class="form_info_text">
	The role you create here will be created for all groups in the system.
</p>

<div id="form">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="faded">&larr;<%= link_to "Back to List", roles_path %></li>
			<li class="active">Edit Role</li> 
		</ul>
	</div>

	<%= render 'form' %>

</div>