<% title "New Role" %>

<div id="form">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="faded">&larr;<%= link_to "Back to List", roles_path %></li>
			<li class="active">New Role</li> 
		</ul>
	</div>

	<%= render 'form' %>

</div>