<% title "New Peer Review Period" %>

<div id="form">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="active">New Review Period</li> 
		</ul>
	</div>
	
	<%= form_for @review_period do |f| %>
		<%= render 'form', :f => f %>
	  	<div id="form_footer">
	  		<%= f.submit :class => 'orange_button', :disable_with => "Submitting New Review Period..." %> <em>or</em>
			<%= link_to "Back to List", review_periods_path %>
	  	</div>
	<% end %>
</div>